body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#pitch-labels {
    margin-bottom: 20px;
}

#pitch-slider {
    width: 80%;
    height: 20px;
    background-color: #ddd;
    margin: 0 auto;
    position: relative;
}

#decibel-rating {
    margin-top: 20px;
}

select, button {
    margin-top: 10px;
}

#pitch-slider-rectangle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 100%;
    background-color: red;
    z-index: 1;
}