body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#pitch-labels {
    margin-bottom: 20px;
}

#pitch-slider {
    width: 80%;
    height: 20px;
    background-color: #ddd;
    margin: 0 auto;
    position: relative;
}

#decibel-rating {
    margin-top: 20px;
}

select, button {
    margin-top: 10px;
}