<!DOCTYPE html>
<html>
<head>
    <title>Guitar Tuner</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>Guitar Tuner</h1>
    <div id="pitch-labels">
        <span id="target-pitch-label">Target Pitch: -</span>
        <span id="estimated-pitch-label">Estimated Pitch: -</span>
    </div>
    <div id="pitch-slider"></div>
    <div id="decibel-rating">Decibel Rating: -</div>
    <select id="instrument-dropdown">
        <option value="guitar" {% if instrument == 'guitar' %}selected{% endif %}>Guitar</option>
        <option value="banjo" {% if instrument == 'banjo' %}selected{% endif %}>Banjo</option>
        
    </select>
    <select id="string-dropdown">
        {% for string in strings %}
            <option value="{{ string.frequency }}">{{ string.name }} - {{ string.frequency }} Hz</option>
        {% endfor %}
    </select>
    <div>
        <input type="checkbox" id="auto-mode-checkbox">
        <label for="auto-mode-checkbox">Automatic Mode</label>
    </div>
    <button id="start-button">Start</button>
    <button id="stop-button">Stop</button>
</body>
</html>